<%- include('./partials/header.ejs')%>

<div>
<h1>Drinklopedia</h1>
<p>This site is designed to make making mixed drinks a fun and easy process. We pride ourselves on creating affordable and fun
    mixed drink recipes for a variety of people. We have recipes that cater towards new mixologist and expert mixologists. We have 
    a large variety of events you can attend online and in person events please enjoy our event offerings and enjoy the delicious
    drink recipes on our site!</p>
</div>


<%- include('./partials/footer.ejs')%>