<%- include('./partials/header.ejs')%>

<div>
<h1>Contact Us!</h1>
<p>If you are interested in contacting us about errors in regard to our drink recipes or if there are any questions or concerns please feel free to contact us at: drinklopedia@gmail.com.</p>
<p>Call us at (912)-555-9929.</p>
</div>


<%- include('./partials/footer.ejs')%>