<%- include('./partials/header.ejs')%>


<div id="home">
<h1>Welcome to Drinklopedia!</h1>
<p>
    This a guide for making drinks for any level of mixologist, beginner or pro! 
    This sites goal is to provide a one stop shop for all the drink recipes you could ever need! 
    Navigate to the other pages to learn more about how to make drinks or how you can become a part of our community!
</p>
<img src="../images/welcome.jpg"><br>

<a id="button" href="connections">Take a look at our classes!</a>
</div>

<%- include('./partials/footer.ejs')%>